@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
*::after,
*::before {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

/*Variables: */
$text-col : hsl(200, 15%, 8%);
$bg-col : hsl(0, 0%, 98%);
$text-dark-mode: hsl(0, 0%, 100%); 
$bg-dark-mode : hsl(207, 26%, 17%);
$el-bg-dark-mode : hsl(209, 23%, 22%);
$shadow-light:  #bbb;
$shadow-dark:  #000;

/// mixin for flexbox
///
/// @param { string } $dir flex-direction / default to row 
/// @param { string } $al align-items 
/// @param { string } $just justify-content 
///
@mixin flex($dir: '', $al:'', $just: '' ) {
  display: flex;
  @if $dir  { flex-direction: $dir;   }
  @if $al   { align-items: $al;       }
  @if $just { justify-content: $just; }
  
}

/// add a drop shadow to an element
///
/// @param {*} $col color 
/// @param {*} $x x direction 
/// @param {*} $y y direction 
/// @param {*} $blur blur 
///
@mixin d-shadow ($col: $shadow-light, $x: 0, $y: 0, $blur: 1rem) {
  filter: drop-shadow($x $y $blur $col);
}


///unset input and select field default value
@mixin unsetField {
  margin: 16px;
  border-radius:5px;
  border:none;
  outline: none;
  appearance: none;
  background: white;
}

//Global styles
body {
  font-family: 'Nunito Sans', sans-serif;
  background: $bg-col;
  color: $text-col;
  margin: 0 auto;

  //DarkMode
  &.dark-mode{
    background: $bg-dark-mode;
    color: $text-dark-mode;
  }
}

a {
  text-decoration: none;
  color:inherit
}
img {
  max-width: 100%;
}
