@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
*::after,
*::before {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

///Variables: 
$font-fam : 'Nunito Sans', sans-serif;
$text-col : hsl(200, 15%, 8%);
$bg-col : hsl(0, 0%, 98%);
$text-dark-mode: hsl(0, 0%, 100%); 
$bg-dark-mode : hsl(207, 26%, 17%);
$el-bg-dark-mode : hsl(209, 23%, 22%);

/// Boilerplate mixin for flexbox
///
/// @param { string } $dir flex-direction / default to row 
/// @param { string } $al align-items 
/// @param { string } $just justify-content 
///
@mixin flex($dir: '', $al:'', $just: '' ) {
  display: flex;
  @if $dir { flex-direction: $dir;}
  @if $al { align-items: $al;}
  @if $just { justify-content: $just;}
  
}


///Global styles
body {
  font-family: $font-fam;
  background: $bg-col;
  color: $text-col;
  margin: 0 auto;

  //DarkMode
  &.dark-mode{
    background: $bg-dark-mode;
    color: $text-dark-mode;
  }
}

img {
  max-width: 100%;
}
